body{
    background-color:cornsilk;
  }

p{
    font-family: 'Lato', sans-serif;
}

.icon{
    text-align: center;
}

#box{
    text-align: center;
   
    
  }


#button{
    text-align: center;
    
    
  }